/* Footer Styles */
.footer {
  background-color: #333; /* Dark background */
  color: white;
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Space out the items */
  align-items: center; /* Vertically center items */
  padding: 10px 20px; /* Add padding to the footer */
  //   width: 100%;
  //   overflow: hidden;
}

.footer p {
  margin: 0; /* Remove default margin */
  font-size: 14px; /* Adjust font size */
}

.footer p:first-child {
  margin-right: 20px; /* Add space between copyright and contact */
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center text for mobile */
  }

  .footer p {
    font-size: 12px;
    margin: 5px 0; /* Add some spacing between elements */
  }

  .footer p:first-child {
    margin-right: 0; /* Remove right margin on mobile */
  }
}
